{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_overview/courselist

    This template renders the course list for the course_overview block

    Example context (json):
    {
        "data":[
            {
                "id":1,
                "favouritelink":"google.com",
                "favouritealt":"google.com",
                "favouriteicon":"fa-eye"
            },
            {
                "id":2
            }
        ]

    }
}}
<div class="course-list container-fluid">
    {{# data }}
        <div id="course-{{ id }}" class="row courseovbox lead">
            <div class="col-sm-2 span2">
                    <i class="icon fa fa-fw fa-arrows cursor" title="{{# str }}movecourse, block_course_overview, {{ fullname }}{{/ str }}"></i>
                    <a href="{{ favouritelink }}" class="favourite_icon text-primary" alt="{{ favouritealt }}">
                        <i class="icon fa fa-fw {{ favouriteicon }} " title="{{ favouritealt }}"></i>
                    </a>
                    {{# hasvisibilitycapabilities}}
                        <i class="icon fa fa-fw {{ visibilityicon }} visibility_icon" title="{{ visibilityalt }}" data-id="{{id}}" data-action="{{visibilityaction}}"></i>
                    {{/ hasvisibilitycapabilities}}
                    {{# haseditcapability}}
                        <a href="{{ editlink }}" class="edit_icon text-primary" alt="{{ editalt }}">
                            <i class="icon fa fa-fw {{ editicon }} " title="{{ editalt }}"></i>
                        </a>
                    {{/ haseditcapability}}
                    {{# hasdeletecapability}}
                        <a href="{{ deletelink }}" class="delete_icon text-primary" alt="{{ deletealt }}">
                            <i class="icon fa fa-fw {{ deleteicon }} " title="{{ deletealt }}"></i>
                        </a>
                    {{/ hasdeletecapability}}
            </div>
            <div class="col-sm-7 span7">
                <strong><a {{^ visible }}class="dimmed"{{/ visible }} href="{{ link }}">{{ fullname }}</a></strong><br />
                <small>{{ categories }}</small>
            </div>
            {{# hasoverviews }}
                <div class="col-sm-3 span3">
                    {{# overviews }}
                         <span class="overview-icon" data-id="#{{ overviewid }}">
                             {{{ icon }}}
                         </span>
                    {{/ overviews }}
                </div>
            {{/ hasoverviews }}
        </div>
     {{/ data }}
     {{^ data }}
         <div class="alert alert-warning">
             {{# str }}nocourses, block_course_overview{{/ str }}
         </div>
     {{/ data }}
</div>
